<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Mes appareils</h2>
      <p>Mise à jour le : {{ lastUpdate | async | date: 'dd, MMM-yy à HH:mm:ss'}}</p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appreils"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>

